@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Elite login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1)
        }
    </script>

    <link href="~/Layout/StyleSheet1.css" rel="stylesheet">
    <link href="~/Layout/StyleSheet2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
</head>
<body style="background: url('https://bumshop.com.vn/wp-content/uploads/2019/12/tulo-shop.jpg') center/cover no-repeat; margin-top: -50px">
    <h1>Sign Up</h1>
    <div class="w3ls-login">
        <form action="/Account/Register" method="post">
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-user" aria-hidden="true"></i> Username :
                </label>
                <input type="text" id="Username" name="Username" class="form-control" required />
            </div>

            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-user" aria-hidden="true"></i> Password :
                </label>
                <input type="password" name="Password" id="Password" class="form-control" />
            </div>

            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-user" aria-hidden="true"></i> Email :
                </label>
                <input type="text" id="Email" name="Email" class="form-control" required />
            </div>
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-lock" aria-hidden="true"></i> Address :
                </label>
                <input type="text" id="Address" name="Address" class="form-control" required />
            </div>
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-user" aria-hidden="true"></i> Phone Number :
                </label>
                <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" required />
            </div>
            <div class="agile-field-txt">
                <label>
                    <i class="fa fa-lock" aria-hidden="true"></i> Role :
                </label>
                <input class="form-control" type="text" name="Role" id="Role" value="Customer" readonly />
            </div>
            <script>
                function myFunction() {
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
            <div class="w3ls-login  w3l-sub">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>

    <div class="w3ls-login w3l-sub">
        <a href="@Url.Action("Login", "Account")" class="login-btn">Back to Login</a>
    </div>
    @*<div class="copy-wthree">
            <p>
                © 2018 Elite login Form . All Rights Reserved | Design by
                <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
            </p>
        </div>*@
</body>
</html>
