@{
    ViewBag.Title = "_LayoutPage";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giay</title>
    <link rel="stylesheet" href="../Layout/fontawesome-free-6.2.1-web/css/all.min.css" />
    <link rel="stylesheet" href="../Layout/bootstrap-5.0.2-dist/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="../Layout/main.css" />
    <script src="~/Layout/JavaScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="header-logo">
                    <a href="index.html"><img src="images/logo.png" alt="" /></a>
                </div>
                <div class="header-nav">
                    <ul class="ul-all">
                        <li>
                            <a href="/Home/index">Trang chủ</a>
                        </li>
                        <li>
                            <a href="/Products/Index">Sản phẩm</a>
                        </li>
                        <li class="nav-product-list">
                            @if (Session["ID"] == null)
                            {
                                <a href="/Brands/Index">Brand</a>
                            }
                            else
                            {
                                <a href="#">Brand</a>
                                <ul class="ul-product-list">
                                    @Html.Action("BrandPartial", "Home");
                                </ul>
                            }
                        </li>
                        @if (Session["ID"] == null)
                        {
                            <li>
                                <a href="../DonHang/Index">Đơn hàng</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="../DonHang/DHKH">Đơn hàng</a>
                            </li>
                        }
                        <li>
                            <a href="../Account/logout">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
                @*<div class="header-user">
                    <a href="">
                        <i class="fa-solid fa-circle-user fa-2xl"></i>
                    </a>
                </div>*@
                    @if (Session["ID"] == null)
                    {

                    }
                    else
                    {
                        <div class="header-cart">
                            <a href="/Cart/GioHang"><i class="fa-solid fa-cart-arrow-down fa-2xl"></i></a>

                        </div>
                    }
                
                @*<div class="header-like-list">
                    <i class="fa-sharp fa-solid fa-heart fa-2xl"></i>
                </div>*@
                <div class="header-search">
                    <div class="header-search-wrapper">
                        <input type="text" />
                        <button>
                            <svg width="20"
                                 height="20"
                                 class="DocSearch-Search-Icon"
                                 viewBox="0 0 20 20">
                                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
                                      stroke="currentColor"
                                      fill="none"
                                      fill-rule="evenodd"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main-cart-like">
            <i id="quit" class="fa-sharp fa-solid fa-circle-xmark fa-2xl"></i>
            <div class="tab-link">
                <div class="container">
                    <div class="row">
                        <div class="col-6 tab-cart">
                            <span>Giỏ hàng</span>
                        </div>
                        <div class="col-6 tab-like">
                            <span>Sản phẩm yêu thích</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-content content">
                <form action="">
                    <h2>Giỏ hàng</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="cart-body"></tbody>
                    </table>
                    <div class="total-price">
                        <span>Tổng tiền : </span>
                        <b>0</b>
                    </div>
                    <div onclick="locationCart()" class="buy-now-btn">
                        <div>Mua hàng</div>
                    </div>
                    <div class="empty-cart">
                        <img src="images/cart-empty.png" alt="" />
                    </div>
                </form>
            </div>
            <div class="like-product-content content">
                <form action="">
                    <h2>Sản phẩm yêu thích</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="like-body"></tbody>
                    </table>
                    <div class="empty-like">
                        <img src="images/Cart-Transparent-PNG.png" alt="" />
                    </div>
                </form>
            </div>
        </div>
        <div class="main-hot-product">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-3 footer-col">
                    <p>Chăm sóc khách hàng</p>
                    <ul>
                        <li><a href="">Trung Tâm Trợ Giúp</a></li>
                        <li><a href="">Hướng Dẫn Mua Hàng</a></li>
                        <li><a href="">Thanh Toán</a></li>
                        <li><a href="">Chăm Sóc Khách Hàng</a></li>
                        <li><a href="">Chính Sách Bảo Hành</a></li>
                    </ul>
                </div>
                <div class="col-3 footer-col">
                    <p>Về DongHo</p>
                    <ul>
                        <li><a href="">Kênh Người Bán</a></li>
                        <li><a href="">Chính Sách Bảo Mật</a></li>
                        <li><a href="">Chính Hãng</a></li>
                        <li><a href="">Điều Khoản DongHo</a></li>
                    </ul>
                </div>
                <div class="col-3 footer-col">
                    <p>Theo dõi chúng tôi trên</p>
                    <div class="row">
                        <div class="col-2">
                            <a href="">
                                <i class="fa-brands fa-instagram fa-2xl"></i>
                            </a>
                        </div>
                        <div class="col-2">
                            <a href="">
                                <i class="fa-brands fa-facebook fa-2xl"></i>
                            </a>
                        </div>
                        <div class="col-2">
                            <a href="">
                                <i class="fa-brands fa-youtube fa-2xl"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="./index.js"></script>
</body>
@RenderSection("Scripts", required: false)

</html>

